* {
    box-sizing: border-box;
    padding: 0;
}

.hr {
    border: dotted 6px white;
    border-bottom: none;
    margin: 20 auto;
    width: 70px;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

/* for mobile */
[class*="col-"] {
    width: 100%;
}

.navbar {
    background-color: #40868b;
    padding: 0% 5%;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.menu a {
    background-color: #0c6168;
    border-radius: 10px;
    margin: 7px 0px;
    padding: 10px;
}

.menu a:hover {
    background-color: gray;
}

.navbar::after {
    content: "";
    display: table;
    clear: both;
}

.profile {
    text-align: center;
    background-color: rgb(231, 222, 231);
}

.profile-description h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.profile-description p {
    color: gray;
    margin: 0 auto 20px auto;
    text-align: center;
    width: 90%;
}

.profile-description::after {
    content: "";
    display: table;
    clear: both;
}

.professional-experience {
    padding: 1% 0%;
}

.professional-experience .card {
    background-color: #a39e9e;
    border-radius: 5px;
    padding-bottom: 20px;
    transition: 0.3s;
    height: 700px;
}

.link {
    transition: font-size 0.3s ease;
}

.link:hover {
    font-size: 20px;
}

.card:hover {
    box-shadow: 0 4px 8px 5px black;
}

.card-icon {
    text-align: center;
}

.card-icon img {
    margin-top: 20px;
    width: 100px;
}

.rounded-img {
    border: 5px solid white;
    border-radius: 50%;
    padding: 15px;
}

.card-title h2 {
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align: center;
}

.skills-container {
    padding-right: 45px;
}

.skills-container li {
    font-weight: bolder;
    list-style: none;
    margin: 30px 10px;
    position: relative;
    text-transform: uppercase;
}

.skills-container li::before {
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgb(86, 86, 153, 0.5);
    border-radius: 1000px;
}

.skills-container li::after {
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 0;
    height: 10px;
    background-color: rgb(86, 86, 153, 1);
    border-radius: 1000px;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /* animation-direction: alternate; */
    animation-iteration-count: 3;
}

.skills-container li.html::after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 100%;
        /* background-color: orange; */
    }
}

.skills-container li.css::after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 100%;
    }
}

.skills-container li.bootstrap::after {
    animation-name: bootstrap;
}

@keyframes bootstrap {
    to {
        width: 100%;
    }
}

.skills-container li.js::after {
    animation-name: js;
}

@keyframes js {
    to {
        width: 100%;
    }
}

.skills-container li.php::after {
    animation-name: php;
}

@keyframes php {
    to {
        width: 100%;
    }
}

.skills-container li.python::after {
    animation-name: python;
}

@keyframes python {
    to {
        width: 100%;
    }
}

.skills-container li.sql::after {
    animation-name: sql;
}

@keyframes sql {
    to {
        width: 100%;
    }
}

.skills-container li.git::after {
    animation-name: github;
}

@keyframes github {
    to {
        width: 100%;
    }
}

.skills-container li.latex::after {
    animation-name: latex;
}

@keyframes latex {
    to {
        width: 100%;
    }
}

.professional-experience::after {
    clear: both;
    content: "";
    display: table;
}

.achievement-contact {
    padding: 1% 7%;
    background-color: #7c757a;
    color: white;
}

.contact {
    text-align: center;
}

.contact input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    resize: none;
}

.contact button {
    border: none;
    border-radius: 12px;
    background-color: #0069d9;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    padding: 15px;
    width: 100px;
}

#action-yes:hover {
    background-color: rgb(9, 175, 73);
    transition: background-color 0.3s ease-in-out; 
}

#action-no:hover {
    background-color: red;
    transition: background-color 0.3s ease-in-out; 
}

.contact-links {
    text-align: center;
    margin-bottom: 20px;
}

.media-buttons .btn {
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 32px;
    margin: 10px;
    width: 50px;
    background-color: white;
}
@media (max-width: 1050px) {
    .media-buttons .btn {
        width: 40px; 
        height: 40px;
        font-size: 20px; 
    }

    .media-buttons {
        gap: 8px; 
    }
}


.btn:hover {
    background-color: gray;
}

.achievement-contact::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;
}

.footer-menu a {
    display: block;
    font-size: 1rem;
    margin: 15px 0;
}

.footer-menu a:hover {
    background-color: purple;
    color: gray;
    border-radius: 15%;
}

.footer::after {
    content: "";
    display: table;
    clear: both;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* navbar design starts here */
.logo {
    text-align: left;
}

.heading h1 {
    text-align: right;
}

.menu {
    flex-direction: row;
    justify-content: flex-end;
}

.menu a {
    padding: 5px 10px;
    margin: 20px 5px;
    /* background-color: transparent; */
}

.profile-description p {
    color: gray;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}

.professional-experience {
    padding: 0% 0%;
}

.contact button {
    width: 150px;
}

.contact-links {
    text-align: center;
    position: relative;
}

.media-buttons {
    position: absolute;
    margin-top: 200px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}
/* @media (max-width: 768px) {
    .col-3{
        height: 100px;

    }
} */
.btn {
    margin: 5px;
    width: 80px;
}
@media (max-width: 768px) {
    .skills li, 
    .work-experience li, 
    .education li {
        font-size: 0.7rem; 
        padding: 5px; 
        margin: 10px 5px; 
    }
}
.achievement {
    padding-right: 50px;
}

.footer-menu {
    margin-top: 12px;
}

.footer-menu a {
    display: inline;
    font-size: 1rem;
    margin: 10px;
    color: white;
}
@media (max-width: 768px) {
    a.link {
        font-size: 0.8rem; 
    }
}
.developer-card {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.developer-image {
    max-width: 25%;
    border-radius: 10%;
    width: 300px;
}
@media (max-width: 768px) {
    h2 {
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    p {
        font-size: 0.8rem;
    }
}

.header h1 {
    font-size: 24px;
    color: white;
    margin: 0;
    padding: 0;
}

.header h2 {
    font-size: 18px;
    color: white;
    margin: 5px 0;
    padding: 0;
}
.header h3 img{
    width: 40px;
    text-align: center;
    transition: width 0.3s ease-in-out;
}
.header h3 img:hover {
    width: 45px; 
}

.header p {
    font-size: 14px;
    color: #eee;
    margin: 5px 0;
    padding: 0;
}

.profile h2 {
    font-size: 30px;
    color: black;
    margin: 0 0 10px 0;
    padding: 0;
    margin-top: 10px;
}

.profile p {
    font-size: 18px;
    color: #333;
    margin: 0 0 20px 0;
    padding: 0;
}

.projects {
    background-color: white !important;
}

.card {
    background-color: #a39e9e;
    border-radius: 5px;
    padding-bottom: 20px;
    transition: 0.3s;
    height: 450px;
}

.card:hover {
    box-shadow: 0 4px 8px 5px black;
}

.image img {
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    height: 300px;
    width: 100%;
    text-align: center;
}

#project-title {
    text-align: center;
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1524px) {
    #project-title {
        font-size: 0.7rem;
    }
}
/* @media (max-width: 1824px) {
    #project-title {
        font-size: 0.7rem;
    }
} */

@media (max-width: 768px) {
    #project-title {
        font-size: 0.5rem;
    }

    #project-title::before {
        display: block;
        font-weight: bold;
        font-size: 0.5rem;
    }
}

#project-link {
    text-align: center;
    color: black;
}

#project-link:hover {
    background-color: white;
}
@media (max-width: 768px) {
    .card-title h2 {
        font-size: 1rem; 

    }
}
.card-title h2 {
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.pl {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.pl a {
    text-decoration: none;
}

.pl,
a:hover {
    color: white;
}

li {
    margin-left: 20px;
}

.profile p {
    margin: 8px;
}

.profile {
    border-radius: 5px;
}